<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="/META-INF/jta-hsqldb.properties"/>

    <bean id="btmConfig" factory-method="getConfiguration" class="bitronix.tm.TransactionManagerServices">
        <property name="serverId" value="spring-btm"/>
        <property name="warnAboutZeroResourceTransaction" value="true"/>
        <property name="journal" value="${btm.config.journal:disk}"/>
    </bean>

    <bean id="testDataSource" class="bitronix.tm.resource.jdbc.PoolingDataSource" init-method="init"
          destroy-method="close">
        <property name="className" value="org.hsqldb.jdbc.pool.JDBCXADataSource"/>
        <property name="uniqueName" value="otherDataSource"/>
        <property name="minPoolSize" value="0"/>
        <property name="maxPoolSize" value="5"/>
        <property name="allowLocalTransactions" value="true"/>
        <property name="driverProperties">
            <props>
                <prop key="user">${jdbc.username}</prop>
                <prop key="password">${jdbc.password}</prop>
                <prop key="url">${jdbc.url}</prop>
            </props>
        </property>
    </bean>

    <bean id="proxyDataSource" class="net.ttddyy.dsproxy.support.ProxyDataSource">
        <property name="dataSource" ref="testDataSource"/>
        <property name="listener">
            <bean class="net.ttddyy.dsproxy.listener.ChainListener">
                <property name="listeners">
                    <list>
                        <bean class="net.ttddyy.dsproxy.listener.SLF4JQueryLoggingListener"/>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <alias name="proxyDataSource" alias="dataSource"/>

    <bean id="persistenceUnitManager" depends-on="transactionManager"
          class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
        <property name="persistenceXmlLocation" value="classpath*:META-INF/persistence.xml"/>
        <property name="defaultDataSource" ref="dataSource"/>
        <property name="dataSourceLookup">
            <bean class="org.springframework.jdbc.datasource.lookup.BeanFactoryDataSourceLookup"/>
        </property>
    </bean>

    <!-- JpaDialect must be configured for transactionManager to make JPA and JDBC share transactions -->
    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="persistenceUnit"/>
        <property name="persistenceUnitManager" ref="persistenceUnitManager"/>
        <property name="jpaDialect" ref="jpaDialect"/>
    </bean>

    <bean id="jtaTransactionManager" factory-method="getTransactionManager"
          class="bitronix.tm.TransactionManagerServices" depends-on="btmConfig, dataSource"
          destroy-method="shutdown"/>

    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="jtaTransactionManager"/>
        <property name="userTransaction" ref="jtaTransactionManager"/>
        <property name="allowCustomIsolationLevels" value="true"/>
    </bean>

    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <aop:aspectj-autoproxy/>

</beans>
